
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586978597101634410.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-586978597101634410.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-586978597101634410.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586978597101634410.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586978597101634410.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586978597101634410.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586978597101634410.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586978597101634410.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586978597101634410.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586978597101634410.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586978597101634410.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586978597101634410.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586978597101634410.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586978597101634410.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586978597101634410.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-586978597101634410.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586978597101634410.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586978597101634410.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586978597101634410.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586978597101634410.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586978597101634410.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586978597101634410.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586978597101634410.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586978597101634410.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586978597101634410.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586978597101634410.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586978597101634410.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586978597101634410.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586978597101634410.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586978597101634410.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586978597101634410.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-586978597101634410.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586978597101634410.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586978597101634410.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586978597101634410.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586978597101634410.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586978597101634410.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-586978597101634410.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586978597101634410.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586978597101634410.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586978597101634410.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586978597101634410.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586978597101634410.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586978597101634410.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586978597101634410.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586978597101634410.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586978597101634410.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586978597101634410.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586978597101634410.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586978597101634410.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586978597101634410.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-586978597101634410.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586978597101634410.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586978597101634410.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586978597101634410.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586978597101634410.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-586978597101634410.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586978597101634410.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586978597101634410.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586978597101634410.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586978597101634410.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-586978597101634410.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586978597101634410.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-586978597101634410.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586978597101634410.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586978597101634410.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586978597101634410.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-586978597101634410.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586978597101634410.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586978597101634410.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586978597101634410.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586978597101634410.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586978597101634410.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586978597101634410 .gp-relative{position:relative}.gps-586978597101634410 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586978597101634410 .gp-mb-0{margin-bottom:0}.gps-586978597101634410 .gp-inline-block{display:inline-block}.gps-586978597101634410 .gp-flex{display:flex}.gps-586978597101634410 .gp-grid{display:grid}.gps-586978597101634410 .gp-contents{display:contents}.gps-586978597101634410 .\!gp-hidden{display:none!important}.gps-586978597101634410 .gp-hidden{display:none}.gps-586978597101634410 .gp-h-auto{height:auto}.gps-586978597101634410 .gp-h-full{height:100%}.gps-586978597101634410 .gp-w-full{width:100%}.gps-586978597101634410 .gp-max-w-full{max-width:100%}.gps-586978597101634410 .gp-flex-none{flex:none}.gps-586978597101634410 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586978597101634410 .gp-flex-col{flex-direction:column}.gps-586978597101634410 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586978597101634410 .gp-duration-200{transition-duration:.2s}.gps-586978597101634410 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-586978597101634410 .tablet\:\!gp-hidden{display:none!important}.gps-586978597101634410 .tablet\:gp-hidden{display:none}.gps-586978597101634410 .tablet\:gp-h-auto{height:auto}.gps-586978597101634410 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-586978597101634410 .mobile\:\!gp-hidden{display:none!important}.gps-586978597101634410 .mobile\:gp-hidden{display:none}.gps-586978597101634410 .mobile\:gp-h-auto{height:auto}.gps-586978597101634410 .mobile\:gp-flex-none{flex:none}}.gps-586978597101634410 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g56ULaYT7L"}' data-id="g56ULaYT7L" id="g56ULaYT7L" data-same-height-subgrid-container class="g56ULaYT7L gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gX53qALG0p gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCoPOxJkTC"}' data-id="gCoPOxJkTC" id="gCoPOxJkTC" data-same-height-subgrid-container class="gCoPOxJkTC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gsczFwX_m5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gzTwrVkiE1"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759396292510 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzTwrVkiE1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-2bc0eebd-ab2d-4e60-9e96-699a1fa91d04_1024x.webp?v=1722524529" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-2bc0eebd-ab2d-4e60-9e96-699a1fa91d04_1024x.webp?v=1722524529" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-2bc0eebd-ab2d-4e60-9e96-699a1fa91d04_1024x.webp?v=1722524529" srcset="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-2bc0eebd-ab2d-4e60-9e96-699a1fa91d04_1024x.webp?v=1722524529" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-2bc0eebd-ab2d-4e60-9e96-699a1fa91d04.webp?v=1722524529" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-2bc0eebd-ab2d-4e60-9e96-699a1fa91d04.webp?v=1722524529"
        alt=""
        width="100%"
        style="--aspect:483/380;--aspect-tablet:483/380;--aspect-mobile:auto;--objf:contain;--w:483px;--w-tablet:483px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gzTwrVkiE1">
        .gzTwrVkiE1 {

}
.gzTwrVkiE1 > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gZq0x1t0E3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggl9XGqsbF"
        class="ggl9XGqsbF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759396292512"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggl9XGqsbF_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTexyK82DE"
        class="gTexyK82DE"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759396292513"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451px;--w-tablet:451px;--w-mobile:451px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTexyK82DE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-586978597101634410 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j2mehc-uj/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586978579686884202&sectionId=586978597101634410)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gggl9XGqsbF_text","label":"gggl9XGqsbF_text","default":"6. Easy-Clean Removable Parts"},{"type":"html","id":"ggTexyK82DE_text","label":"ggTexyK82DE_text","default":"<p>Simplify your cleanup routine with the easy-clean removable parts of this toaster.&nbsp;<br><br>The crumb tray effortlessly slides out, capturing all the crumbs for quick disposal.&nbsp;<br><br>Additionally, the toaster's sleek and accessible design ensures that every nook and cranny is easily reachable, allowing you to keep it impeccably clean with minimal effort.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  