
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586999427760129003.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-586999427760129003.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-586999427760129003.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586999427760129003.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586999427760129003.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586999427760129003.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586999427760129003.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586999427760129003.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586999427760129003.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586999427760129003.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586999427760129003.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586999427760129003.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586999427760129003.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586999427760129003.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586999427760129003.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-586999427760129003.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-586999427760129003.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586999427760129003.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586999427760129003.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586999427760129003.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586999427760129003.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586999427760129003.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586999427760129003.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586999427760129003.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586999427760129003.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586999427760129003.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586999427760129003.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586999427760129003.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586999427760129003.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586999427760129003.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-586999427760129003.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586999427760129003.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586999427760129003.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586999427760129003.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586999427760129003.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586999427760129003.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586999427760129003.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586999427760129003.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586999427760129003.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-586999427760129003.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586999427760129003.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586999427760129003.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-586999427760129003.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-586999427760129003.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586999427760129003.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586999427760129003.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586999427760129003.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586999427760129003.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586999427760129003.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-586999427760129003.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-586999427760129003.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-586999427760129003.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-586999427760129003.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-586999427760129003.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586999427760129003.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586999427760129003.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586999427760129003.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586999427760129003.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586999427760129003.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586999427760129003.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-586999427760129003 .gp-relative{position:relative}.gps-586999427760129003 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586999427760129003 .gp-mb-0{margin-bottom:0}.gps-586999427760129003 .gp-inline-block{display:inline-block}.gps-586999427760129003 .gp-flex{display:flex}.gps-586999427760129003 .gp-grid{display:grid}.gps-586999427760129003 .gp-contents{display:contents}.gps-586999427760129003 .\!gp-hidden{display:none!important}.gps-586999427760129003 .gp-hidden{display:none}.gps-586999427760129003 .gp-h-auto{height:auto}.gps-586999427760129003 .gp-h-full{height:100%}.gps-586999427760129003 .gp-w-full{width:100%}.gps-586999427760129003 .gp-max-w-full{max-width:100%}.gps-586999427760129003 .gp-flex-none{flex:none}.gps-586999427760129003 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586999427760129003 .gp-flex-col{flex-direction:column}.gps-586999427760129003 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586999427760129003 .gp-duration-200{transition-duration:.2s}.gps-586999427760129003 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-586999427760129003 .tablet\:\!gp-hidden{display:none!important}.gps-586999427760129003 .tablet\:gp-hidden{display:none}.gps-586999427760129003 .tablet\:gp-h-auto{height:auto}.gps-586999427760129003 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-586999427760129003 .mobile\:\!gp-hidden{display:none!important}.gps-586999427760129003 .mobile\:gp-hidden{display:none}.gps-586999427760129003 .mobile\:gp-h-auto{height:auto}.gps-586999427760129003 .mobile\:gp-flex-none{flex:none}}.gps-586999427760129003 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gkSnVmM4O7"}' data-id="gkSnVmM4O7" id="gkSnVmM4O7" data-same-height-subgrid-container class="gkSnVmM4O7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:15px;--pl:0px;--pb:15px;--pr:0px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:15px;--pr-tablet:0px;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:15px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bs-mobile:solid;--bw:0px 0px 1px 0px;--bw-mobile:0px 0px 1px 0px;--bc:rgba(0, 0, 0, 0.18);--bc-mobile:rgba(0, 0, 0, 0.21);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gB4jfPmdsh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gRUIOM6UC0"}' data-id="gRUIOM6UC0" id="gRUIOM6UC0" data-same-height-subgrid-container class="gRUIOM6UC0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="go288WiP62 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gHrFWtAKWI"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1759408904579 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHrFWtAKWI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_586978430721983033-8485eb7d-43c3-487d-ab1b-cea5899e1a24.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIyMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtMjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIyMDAiIGZpbGw9InVybCgjZy0xNTAwLTIwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_586978430721983033-8485eb7d-43c3-487d-ab1b-cea5899e1a24.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIyMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtMjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIyMDAiIGZpbGw9InVybCgjZy0xNTAwLTIwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_586978430721983033-8485eb7d-43c3-487d-ab1b-cea5899e1a24.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIyMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtMjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSIyMDAiIGZpbGw9InVybCgjZy0xNTAwLTIwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_586978430721983033-8485eb7d-43c3-487d-ab1b-cea5899e1a24.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:20%;--w-tablet:20%;--w-mobile:45%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-586999427760129003 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j2mehc-uj/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586978579686884202&sectionId=586999427760129003)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  